# MacOS
.DS_Store

# Python
*.egg-info
.pytest_cache
__pycache__
venv

# VS Code
*.vscode

*.pyc
*.o

eval/ann-benchmarks/data/*
data/*
!data/.gitkeep
vectordb/qdrant_storage/*
!vectordb/qdrant_storage/.gitkeep
*.class

*.log

eval/ann-benchmarks/results/*
!eval/ann-benchmarks/results/*.png

.idea

# Grobid output
*.xml
# FInetuning datasets and outputs
finetuning/ir_results
finetuning/qa_datasets
notebooks/*
finetuning/**/*.json
!finetuning/config.json
finetuning/**/*.jsonl
finetuning/**/*.tsv
finetuning/**/*.txt
finetuning/**/*.csv
finetuning/*.txt
finetuning/data/*
finetuning/results/*

# Notebooks
*.ipynb


