# MacOS
.DS_Store

# Python
*.egg-info
.pytest_cache
__pycache__
venv

# VS Code
*.vscode

*.pyc
*.o

eval/ann-benchmarks/data/*
*.class

*.log

eval/ann-benchmarks/results/*
!eval/ann-benchmarks/results/*.png

.idea
