# MacOS
.DS_Store

# Python
*.egg-info
.pytest_cache
__pycache__
venv

# VS Code
*.vscode

*.pyc
*.o

eval/ann-benchmarks/data/*
data/*
!data/.gitkeep
vectordb/qdrant_storage/*
!vectordb/qdrant_storage/.gitkeep
*.class

*.log

eval/ann-benchmarks/results/*
!eval/ann-benchmarks/results/*.png

.idea

# Grobid output
*.xml

finetuning/results
playground.ipynbfinetuning/local_playground.ipynb
finetuning/qa_datasets/
notebooks/*
finetuning/local_playground.ipynb
*.ipynb
