[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-finetuning = "*"
llama-index-llms-ollama = "*"
beautifulsoup4 = "*"
lxml = "*"
path = "*"
rank-bm25 = "*"
einops = "*"
sentence_transformers = "*"
transformers = "*"
torch = "*"
numpy = "*"
scikit-learn = "*"
pyyaml = "*"
psutil = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
