 [[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
arrow = "*"
alembic = "*"
bcrypt = "*"
psycopg2-binary = "*"
sqlmodel = "*"
fastapi = "*"
fastapi-utils = "*"
typing-inspect = "*"
pydantic = "*"
uvicorn = "*"
pydantic-settings = "*"
python-dotenv = "*"
pyjwt = "*"
qdrant_client = "*"
llama_index = '*'
llama-index-embeddings-huggingface = '*'
llama-index-vector-stores-qdrant = '*'
ollama = '*'
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-core = "*"

[requires]
python_version = "3.10"
